[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
black = "*"
flask = "*"
flask-graphql = "*"
flask-sqlalchemy = "*"
graphene = "*"
graphene-sqlalchemy = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
